.container {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 25px;
  width: 317px; 
  height: 780px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: solid black; */
  height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  

}

input{
  
  height: 40px;
}
textarea {
  
  height: 120px;
}

.form--field {
  width: 275px;
  border: 2px solid #000000;
  border-radius: 15px;
  /* margin: auto */

}

.container--checkbox {
  display: flex;
  flex-direction: row;
  border: solid 2px black;
  align-items: baseline;
  justify-content: center;
  width: 275px;

}

.form--button {
  
}


.width {
  width: 317px;
}
.height {
  height: 399px;
}

.card-image{
  width: 317px;
  height: 317px;
}



.card-title {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;

}

.card-subtitle1 {
  color: #D1D5DB;
  text-align: center;
  font-size: 12px;
}

.card-subtitle2 {
  color: white;
  text-align: center;
  font-size: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 25px;
  margin-bottom: 25px;


}

.button {
  padding: 9px 13px 9px 11px;
  width: 115px;
}

.card-text {
  width: 247px;
  height: 201px;
  margin: auto;

}

h2 {
  color:  white;
  line-height: 1.5;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;

}



/* p {
  color: white;
  font-size: 10px ;
}  */

.footer {
  width: 317px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  gap: 30px ;
  

}

.footer-image {
  width: 25px; 
  height: 25px;

}






